* {
    margin: 0;
    padding: 0;
  }
  body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #ffebcd;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 6px;
      width: 350px;
      height: 550px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 20px darkgray;
  }
  
  form#form {
    background-color: green;
    position: fixed;
    margin-top: 40px;
    transition: .5s;
    width: 300px;
    height: 0px;
  }
  
  .buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 dodgerblue;
  }
  
  .buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    padding: 10px 29px;
  }
  
  .btnColor {
    position: absolute;
    width: 126px;
    height: 100%;
    background: linear-gradient(to right, #5956e9, #a963f8);
    border-radius: 30px;
    transition: .3s;
  
  }
  
  .inputBox {
      position: relative; 
  }
  .inputUser {
      background: none;
      border: none; 
      border-left: 1px solid deepskyblue;
      border-bottom: 1px solid deepskyblue; /* cria uma linha embaixo dos campos */
      outline: none;                    /* ao selecionar o campo, não fica marcando o quadro todo */
      color: rgb(0, 0, 0);
      font-size: 15px;
      width: 100%;
      letter-spacing: 2px;              /* espaço entre os caracteres que serão digitados nos campos */
  }
  .inputLabel {
      position: absolute;
      top: 0px;
      left: 0px;
      pointer-events: none;
      transition: .5s;
  }
  
  .inputSelect {             
      padding: 6px;
      border-radius: 12px;
      outline: auto;
      font-size: 15px;
      margin-left: 2px;
      text-align: center;
  }
  #submit {                           /* hastag para chamar pelo ID; ponto para chamar pela CLASS */
      background-color: dodgerblue;
      width: 100%;
      border: none;
      padding: 15px;
      color: aqua;
      font-size: 15px;
      border-radius: 10px;
  }
  #submit:hover {        /* mudanças ao posicionar o cursor sobre */
      background-color: deepskyblue;
      cursor: pointer;
  }
  
  @media (max-width: 800px){
      .wrapper {
          min-width: 100%;
          border-radius: 15px;
      }
  }
  fieldset {
        background: transparent;
        border: color black;
        outline: auto;
        position: relative;
        padding: 10px 29px;
        font-size: 15px;
        border-radius: 25px;
  }
  .botao-logout {
    background-color: rgb(104, 104, 104);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: aqua;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.botao-logout:hover {        /* mudanças ao posicionar o cursor sobre */
    background-color: rgb(211,211,211);
    cursor: pointer;
}