<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENDA - Administrar consultas</title>
    <link rel="stylesheet" href="../static/css/consultas_pac.css"></link>
</head>
<body>
    <div class="wrapper">
        <fieldset>
        <h3>desmarcar</h3>
    </fieldset>
    

        <form action="{{ url_for('delete') }}" method="post"><!-- necessário este elemento como action para se comunicar com o python-->
            <br>

            <label for="data">Data da consulta:</label>
            <input type="date" name="data" id="data_consulta" class="inputSelect" onchange="this.form.submit()">
            <!-- Pedro aqui, a data e o select precisam estar em forms diferentes -->
        </form>
        <form id="form" action="{{ url_for('delete') }}" method="post">
            <br><br><br><br>
            Selecionar consulta: 
            <select name="desmarcar" id="paciente" class="inputSelect" {} required>
                <option value="" data-default disabled selected></option>
                {}
            </select>
            <br><br><br>

            <input name="submit" type="submit" id="submit" onclick="this.value = '0K'" value="OK">

        </form>
    </div>
    <a href="/homepage"><button class="botao-logout" href="/homepage" onclick="">Voltar</button></a>

</body>
</html>